.container{
    
    padding: 12px;
   
    border-radius: 15px;
    
  
   display: flex;
    justify-content: space-around;
    margin: 10px;
    animation:blur-in 0.3s linear both} @keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


.contImage{
    margin-right: 10px;
   width: fit-content;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(233, 130, 39, 0.701);
    border-radius: 10px; 
}

.image{
    position: relative;
  max-width: 310px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border: 2px dashed black;

}

.contName{
    max-width: 250px;
    margin-left: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(233, 130, 39, 0.701);
}
.name{
    font-size: 32px;
    font-weight: 800;
    text-shadow: 2px 6px 9px #000000;
    color: rgb(0, 0, 0)
}

.conDeatils{
    display: flex;
    flex-direction: column;
   padding: 25px;
   width: 300px;
   height: 370px;
   border: 1px solid black;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   background-color: rgba(233, 130, 39, 0.701);
   
}

.DeatilsTemp{
    font-family: Arial;
    font-weight: 700;
    text-shadow: 2px 6px 8px #000000;
    color: rgb(26, 25, 25);
}

.detailsWords{
    font-family: Arial;
    font-weight: 500;
    
}
.conImagenPata{
   
    margin-top: 80px;
}

.imagenPata{
    width: 100px;
   
    height: 100px;
    
}

.PrevWords{
    font-size: 13px;
    font-weight: 300;
    text-shadow: 2px 6px 9px #000000;
    
}

.LoaderCont{
    margin-top: 200px;
    margin-left: 650px;
    font-family: Arial;
  }
  .loader {
    color: #000000;
    font-size: 50px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }
  
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
    