.Form_container {
    max-width: 470px;
  
    border-radius: 10px;
    box-shadow: 0px 4px 22px 0px #0000001A;
    font-family: 'Arial';
   background-color: rgb(235, 176, 66) ;
    padding: 40px;
    border: 3px dashed black;
    margin: 0 auto;
  }
  .form_title {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  .form_title_naranja {
    color:rgb(2, 5, 199);
  }
  .datos_obligatorios {
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.701);
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 50px;
  }
  label {
    /* position: relative;
    top: 9px; */
    font-size: medium;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  .div_input {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 6px 6px;
    height: 50px;
    margin-top: 5px;
    border: 2px solid black;
  }
  .div_input.error{
    border: 2px solid rgba(255, 0, 0, 0.28);

  }
  
  .div_inputs_dobles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .unidad {
    font-weight: 700;
    font-size: 14px;
    border-left: 1px solid rgb(64, 64, 64);
    padding: 15px 2px 15px 5px;
    color: rgb(64, 64, 64);
  }
  .label_min {
    opacity: 0;
  }
  .form_input.min,
  .form_input.max {
    max-width: 165px;
  }
  .form_input.min_years,
  .form_input.max_years {
    max-width: 149px;
  }
  .form_input {
    border: none;
    background-color:rgb(255, 255, 255);
    height: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 9px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.6px;
    width: 100%;
  }
  .form_input:focus {
    outline: none;
  }
  .form_input::placeholder {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(64, 64, 64);
  }
  .ul_temp {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
   
    color: rgb(255, 255, 255);
  }
  .li_temp {
    display: flex;
    gap: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
  }
  
  .select_form {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: rgb(64, 64, 64);
    width: 100%;
    padding: 5px 0;
    border: none;
    cursor: pointer;
  }
  .select_form:focus {
    outline: none;
  }
  
  .submit {
    width: 100%;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 0;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .submit:hover {
    background-color: rgb(130, 64, 6);
  }
  .submit:focus {
    outline: none;
  }
  .submit.none {
    background-color: #8b4d2a;
    color: rgb(150, 150, 150);
    cursor: not-allowed;
  }
  .dato_incorrecto {
    margin-left: 15px;
    color: #DF4545;
    font-size: 12px;
    font-weight: 700;
  }
  .div_form_final_temps{
    max-width: 500px;
  }
  .delete_temp {
    border: none;
    color: rgb(252, 252, 252);
    background-color:rgb(0, 0, 0);
    cursor: pointer;
  }
  
  
