.containerCards{
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 706px;
  gap: 0 20px;
}


.LoaderCont{
  margin-left: 550px;
  margin-top: 200px;
  font-family: Arial;
}
.Loader{
 
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 